<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
          <rules>
              <rule name="BingProxy" stopProcessing="true">
                  <match url="^bing/(.*)" />
                  <action type="Rewrite" url="https://cn.bing.com/{R:1}" />
                  <serverVariables>
                      <set name="HTTP_ACCEPT_ENCODING" value="" />
                      <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                  </serverVariables>
              </rule>
              <rule name="BaiduProxy" stopProcessing="true">
                  <match url="^baidu/(.*)" />
                  <action type="Rewrite" url="https://www.baidu.com/{R:1}" />
                  <serverVariables>
                      <set name="HTTP_ACCEPT_ENCODING" value="" />
                      <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                  </serverVariables>
              </rule>
          </rules>
        </rewrite>
    </system.webServer>
</configuration>